.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #282c34;
    overflow-y: scroll;
}